<div class="container home">
  <selfcessful-carousel></selfcessful-carousel>

  <div class="selfcessfulDeff">
   <h1>The road to success starts with selfcess</h1>
   <p>Have you ever wondered why it always seems like you get so close the finish line but never seem to cross it? That moment where you get to exhale is right at your fingertips but just out a reach. Society conditions us to continously reach outside of ourselves for success. Your current understanding of success is something you reach for not something you have. Enter selfcess into your life. Here we strive to be selfcessful. Living the selfcessful life is achieving a higher perspective, where you can turn every challenge into opportunity for self learning and personal growth. When you embrace selfcess, success becomes that much easier.</p>
  </div>

  <div class="selfcessfulApparel">
   <h1>Apparel</h1>
  </div>

  <selfcessful-items></selfcessful-items>
  <!-- <div class="row marketing">
   <div class="col-lg-6">
     <a ui-sref="apparel"><h4>T-Shirt</h4></a>
     <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
   </div>

   <div class="col-lg-6">
     <a ui-sref="apparel"><h4>Tank Top</h4></a>
     <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
   </div>
  </div> -->
</div>
