<div class="container home">
  <selfcessful-carousel></selfcessful-carousel>

  <div class="selfcessfulDeff">
   <h1>Selfcess</h1>
   <p>Achieving a higher perspective of life where you can turn every challenge into opportunity for self learning and personal growth</p>
  </div>

  <div class="row marketing">
   <div class="col-lg-6">
     <a ui-sref="apparel"><h4>T-Shirt</h4></a>
     <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
   </div>

   <div class="col-lg-6">
     <a ui-sref="apparel"><h4>Tank Top</h4></a>
     <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
   </div>
  </div>
</div>
