<!-- <div class="container home">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a ui-sref="home">Home</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Selfcessful</h3>
  </div>
</div> -->

<div class="container home">
     <div class="header clearfix">
       <nav>
         <ul class="nav nav-pills pull-right">
           <li role="presentation"><a ui-sref="home">Home</a></li>
           <li role="presentation"><a ui-sref="products ">Products</a></li>
           <li role="presentation"><a ui-sref="contact">Contact</a></li>
         </ul>
       </nav>
       <h3 class="text-muted">Selfcessful</h3>
     </div>

     <selfcessful-carousel></selfcessful-carousel>

     <div class="selfcessfulDeff">
       <h1>Selfcess</h1>
       <p>Achieving a higher perspective of life where you can turn every challenge into opportunity for self learning and personal growth</p>
     </div>

     <div class="row marketing">
       <div class="col-lg-6">
         <a ui-sref="#"><h4>T-Shirt</h4></a>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
       </div>

       <div class="col-lg-6">
         <a ui-sref="#"><h4>Tang Top</h4></a>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
       </div>
     </div>

     <footer class="footer">
       <p>&copy; Selfcessful</p>
     </footer>

   </div> <!-- /container -->
